fastapi
uvicorn
psycopg2-binary
redis
torch
numpy
asyncpg
pillow
python-multipart
aiohttp
python3-discogs-client
spotipy
python-dotenv
musicbrainzngs
pandas
torchvision
pgvector
opencv-python-headless
matplotlib
rembg
onnxruntime